
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormularioVisita</title>
</head>
<body>
    <div>
        <form method="post" action="CargaDatos">
            <p>Nombre:<input Type="text" name="nombre" /></p>
            <p>
                Comentarios <br />
                <textarea rows="10" cols="120" name="comentarios" /></textarea>
            </p>
            <p><input Type="submit" value="Confirmar" /></p>
        </form>
    </div>
</body>
</html>
